<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>name</key>
				<string>KISS RADIO 大眾廣播電台</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000040</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KISS RADIO 網路音樂台</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000042</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KissRadio大苗粟FM98.3</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000041</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KissRadio台南知音FM97.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000044</string>
			</dict>
			<dict>
				<key>name</key>
				<string>KissRadio南投廣播FM99.7</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000043</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Appleline 蘋果線上</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000001</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GoldFm臺北90.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000027</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GoldFm台中92.9</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000028</string>
			</dict>
			<dict>
				<key>name</key>
				<string>HitFm高雄90.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000034</string>
			</dict>
			<dict>
				<key>name</key>
				<string>HitFm臺北91.7</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000036</string>
			</dict>
			<dict>
				<key>name</key>
				<string>HitFm台中91.5</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000035</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICRT</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000038</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NEWS98新聞網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000073</string>
			</dict>
			<dict>
				<key>name</key>
				<string>寶島新聲廣播FM98.5</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000066</string>
			</dict>
			<dict>
				<key>name</key>
				<string>大千電臺FM99.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000067</string>
			</dict>
			<dict>
				<key>name</key>
				<string>復興廣播電臺第一網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000024</string>
			</dict>
			<dict>
				<key>name</key>
				<string>復興廣播電臺第二網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000025</string>
			</dict>
			<dict>
				<key>name</key>
				<string>復興廣播電臺</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000026</string>
			</dict>
			<dict>
				<key>name</key>
				<string>環宇廣播</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000020</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳音電臺</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000030</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳音現代音樂</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000031</string>
			</dict>
			<dict>
				<key>name</key>
				<string>佳音經典聖樂</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000029</string>
			</dict>
			<dict>
				<key>name</key>
				<string>綠色和平臺灣文化廣播電臺</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000032</string>
			</dict>
			<dict>
				<key>name</key>
				<string>奇美古典音樂</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000014</string>
			</dict>
			<dict>
				<key>name</key>
				<string>全國廣播音樂網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000047</string>
			</dict>
			<dict>
				<key>name</key>
				<string>全國廣播電臺FM106</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000068</string>
			</dict>
			<dict>
				<key>name</key>
				<string>台中城市廣播FM92.9</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000046</string>
			</dict>
			<dict>
				<key>name</key>
				<string>太陽廣播電臺</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000064</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亞洲調頻廣播FM92.3</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000002</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亞洲調頻廣播FM92.7</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000003</string>
			</dict>
			<dict>
				<key>name</key>
				<string>亞洲調頻廣播衛星音樂台</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000004</string>
			</dict>
			<dict>
				<key>name</key>
				<string>宜蘭中山電臺FM97.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000065</string>
			</dict>
			<dict>
				<key>name</key>
				<string>正聲臺北調幅台AM819</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000015</string>
			</dict>
			<dict>
				<key>name</key>
				<string>正聲臺北調頻台FM104.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000016</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中廣音樂網 I-radio</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000007</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中廣新聞網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000008</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中廣流行網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000009</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中廣古典網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000005</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中廣客家頻道</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000006</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺北愛樂FM99.7</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000018</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺北廣播電臺-都會資訊頻道</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000070</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺北廣播電臺-海洋頻道</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000069</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺北之音</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000035</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺北之音-音樂</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000061</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺灣人廣播電臺</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000061</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺灣之音-FM</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000060</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺灣之音-華語</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000063</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺灣之音-亞洲</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000059</string>
			</dict>
			<dict>
				<key>name</key>
				<string>漢聲電臺光華網頻道(短波)</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000077</string>
			</dict>
			<dict>
				<key>name</key>
				<string>漢聲電臺光華網頻道(中波)</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000075</string>
			</dict>
			<dict>
				<key>name</key>
				<string>漢聲電臺全國調幅網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000074</string>
			</dict>
			<dict>
				<key>name</key>
				<string>漢聲電臺全國調頻網</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000076</string>
			</dict>
			<dict>
				<key>name</key>
				<string>臺北好事989</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000013</string>
			</dict>
			<dict>
				<key>name</key>
				<string>台中好事903</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000010</string>
			</dict>
			<dict>
				<key>name</key>
				<string>花蓮好事935</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000011</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高雄港都983</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000012</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DAB飛碟國語經典台</string>
				<key>url</key>
				<string>mms://211.89.225.72/live</string>
			</dict>
			<dict>
				<key>name</key>
				<string>飛碟電臺UFO FM92.1</string>
				<key>url</key>
				<string>mms://bcr.media.hinet.net/RA000072</string>
			</dict>
		</array>
		<key>name</key>
		<string>台灣廣播電台</string>
	</dict>
</array>
</plist>
